#text{
    width: 100%;
    height: 80vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    overflow: scroll;  
}
#settings_menu{
    float: right;
}
#button_menu{
    position: relative;
}
.button,.menu{
     display: inline-block;
}
#document{
    opacity: 0;
    width: 0px;
}
#click{
    font-family: sans-serif;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: dimgrey;
    border-image: initial;
    border-radius: 2px;
    cursor: pointer;
    font-size: inherit;
}
